Create a viewing party for <%= params[:movie] %>

<div id="party_form">
  <%= form_with model: @party, local: true do |form| %>
    <%= form.label :duration, 'Duration:' %>
    <%= form.text_field :duration, id: :duration, value: params[:runtime] %>

    <%= form.label :start_time, 'Start Time:' %>
    <%= form.datetime_field :start_time, id: :start_time %>

    <%= form.hidden_field :mdb_id, id: :mdb_id, value: params[:movie_id] %>

    <%= form.submit 'Submit' %>
  <% end %>
</div>
