<% if params[:movie] %>
  Create a Viewing Party for <%= params[:movie] %>
<% elsif params[:party][:movie_title] %>
  Create a Viewing Party for <%= params[:party][:movie_title] %>
<% end %>


<div id="party_form">
  <%= form_with model: @party, local: true do |form| %>
    <%= form.label :duration, 'Duration:' %>
    <%= form.number_field :duration, id: :duration, min: params[:runtime] || 0, value: params[:runtime] %>

    <%= form.label :start_time, 'Start Time:' %>
    <%= form.datetime_field :start_time, id: :start_time %>

    <%= form.label :invite_friends %>
    <%= form.collection_check_boxes :viewers, current_user.friends, :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>

    <%= form.submit 'Submit' %>
  <% end %>
</div>
