<section class='button'>
  <%= button_to 'Discover Movies', discover_path, method: "get" %>
</section>

<section class='friends'>
  <h2>Friends:</h2>

  <%= render partial: '/users/add_friend' %>

  <% unless current_user.all_friends.empty? %>
    <ul>
      <% current_user.all_friends.each do |friend| %>
        <li><%= friend.name %> (<%= friend.email %>)</li>
      <% end %>
    </ul>
  <% else %>
    <p>You currently have no friends</p>
  <% end %>
</section>

<section class='viewing-parties'>
  <h2>My Viewing Parties:</h2>
  <% unless current_user.parties.empty? %>
  <ul>
    <% current_user.parties.each do |party|%>
      <li id="party-<%= party.id %>">
        <div><%= link_to party.movie.title, movie_path(party.movie.mdb_id) %></div>
        <div><%= party.strftime %></div>
        <div><%= party.viewer_status(current_user.id) %></div>
        <h4>Attendees:</h4>
        <div><% party.users.each do |user| %></div>
          <li><%= user.name %> (<%= user.email %>)</li>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% else %>
    <p> You have no parties - host one! </p>
  <% end %>
</section>
