<section class='button'>
  <%= button_to 'Discover Movies', discover_path, method: "get" %>
</section>

<section class='friends'>
  <h2>Friends:</h2>

  <%= render partial: '/users/add_friend' %>

  <% unless current_user.friends.empty? %>
    <ul>
      <% current_user.friends.each do |friend| %>
        <li><%= friend.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>You currently have no friends</p>
  <% end %>
</section>

<section class='viewing-parties'>
  <h2>My Viewing Parties:</h2>
  <% unless current_user.parties.empty? %>
  <ul>
    <% current_user.parties.each do |party|%>
      <li id="party-<%= party.id %>">
        <div><%= party.movie_title %></div>
        <div><%= party.start_time %></div>
        <div><%= party.viewer_status(current_user.id).capitalize %></div>
      </li>
    <% end %>
  </ul>
  <% else %>
    <p> You have no parties - host one! </p>
  <% end %>
</section>
