<h1>Movie Details For "<%= @movie.title %>"</h1>

<h2>Movie Details</h2>

<ul>
  <li>
    <p>Vote Average: <%= @movie.vote_average %></p>
    <p>Runtime: <%= @movie.runtime_hours %> Hour(s) <%= @movie.runtime_minutes %> Minute(s)</p>
    <p>Genres: <%= @movie.list_genres %></p>
    <p>Summary: <%= @movie.overview %></p>
    <p>Total Reviews Count: <%= @movie.review_count %></p>
    <p>Cast: </p>
    <% @movie.cast.each do |member| %>
        <p><%= member[0]%> as <%= member[1]%></p>
    <% end %>
  </li>
</ul
