<h1>Movie Details For "<%= @movie.title %>"</h1>

<h2>Movie Details</h2>

<ul>
  <li>
    <p>Vote Average: <%= @movie.vote_average %></p>
  </li>
  <li>
    <p>Runtime: <%= @movie.runtime_hours %> Hour(s) <%= @movie.runtime_minutes %> Minute(s)</p>
  </li>
  <li>
    <p>Genres: <%= @movie.list_genres %></p>
  </li>
  <li>
    <p>Summary: <%= @movie.overview %></p>
  </li>
  <li>
    <ul id='cast'>
      <p>Cast: </p>
      <% @movie.first_10_cast.each do |member| %>
          <li class='cast-member'><%= member[0]%> as <%= member[1]%></li>
      <% end %>
    <ul>
  </li>
</ul
